body{
    background-color: rgba(43, 206, 206, 0.603);
}
text1{
    text-align: center;
}
nav a{
    color: white;
    float: right;
    margin-right: 20px;
    text-decoration: none;
    
}

text2{
    display: flex;
}
.container{
    border: 2px solid white ;
    background-color: white;
    width: 400px;
}
.text3{
    display: flex;

}
.text4{
    color: rgba(43, 206, 206, 0.603); 
}
.text5{
    display: flex
    
}
.text6{
    background-color: rgb(0, 255, 213);
    width: 250px;

}


.text8{
    display: flex;

}
.text9{
    background-color: white;
    width: 250px;
    height: 100px;
}


